table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
.table{
    padding-left: 25%;
    padding-top: 5%;
    height: 80%; 
    width: 50%;
} 
th{
    background-color: yellow;
}
  